
/*
#FFDE8B
#FFF3D3
#8BACFF
#D3DFFF
#F9BA32
#241436
#7741B3
#544c5e
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #444753;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fafbff; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

h1 {
  font-size: 3.75rem;
  color: #0e1d4d; }

.text--md {
  font-size: 1.25rem; }

.text--center {
  text-align: center; }

a {
  color: #3060FF;
  text-decoration: none;
  background-color: transparent;
  display: inline-block; }

.display--flex {
  display: flex; }

.space-vertical--lg {
  padding: 4rem 0; }

.margin-bottom--md {
  margin-bottom: 1rem; }

.background--primary {
  background-color: #3060FF; }

.background--primary-tint {
  background-color: #8BACFF; }

.background--primary-tint-light {
  background-color: #D3DFFF; }

.background--secondary {
  background-color: #FFCB32; }

.background--secondary-tint {
  background-color: #FFDE8B; }

.background--secondary-tint-light {
  background-color: #FFF3D3; }

.button {
  padding: 0 1rem;
  min-width: 4rem;
  height: 2.25rem;
  border-radius: .25rem;
  background-color: #3060FF;
  color: #FFFFFF;
  font-size: 1.25rem;
  line-height: 2.25rem;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1); }
  .button--text {
    padding: 0 .25rem;
    border-bottom: 0.25rem solid #8BACFF;
    border-radius: 0;
    background-color: transparent;
    color: #3060FF; }
    .button--text:hover {
      border-bottom-color: #3060FF; }

.container {
  max-width: 76rem;
  margin: auto;
  width: 100%;
  padding: 0 1rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem; }
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%; }

@media (min-width: 76rem) {
  .grid {
    grid-gap: 1.5rem; } }

.col--xs-1 {
  grid-column-start: span 1; }

.col--xs-2 {
  grid-column-start: span 2; }

.col--xs-3 {
  grid-column-start: span 3; }

.col--xs-4 {
  grid-column-start: span 4; }

.col--xs-5 {
  grid-column-start: span 5; }

.col--xs-6 {
  grid-column-start: span 6; }

.col--xs-7 {
  grid-column-start: span 7; }

.col--xs-8 {
  grid-column-start: span 8; }

.col--xs-9 {
  grid-column-start: span 9; }

.col--xs-10 {
  grid-column-start: span 10; }

.col--xs-11 {
  grid-column-start: span 11; }

.col--xs-12 {
  grid-column-start: span 12; }

@media (min-width: 48rem) {
  .col--sm-1 {
    grid-column-start: span 1; }
  .col--sm-2 {
    grid-column-start: span 2; }
  .col--sm-3 {
    grid-column-start: span 3; }
  .col--sm-4 {
    grid-column-start: span 4; }
  .col--sm-5 {
    grid-column-start: span 5; }
  .col--sm-6 {
    grid-column-start: span 6; }
  .col--sm-7 {
    grid-column-start: span 7; }
  .col--sm-8 {
    grid-column-start: span 8; }
  .col--sm-9 {
    grid-column-start: span 9; }
  .col--sm-10 {
    grid-column-start: span 10; }
  .col--sm-11 {
    grid-column-start: span 11; }
  .col--sm-12 {
    grid-column-start: span 12; } }

@media (min-width: 64rem) {
  .col--md-1 {
    grid-column-start: span 1; }
  .col--md-2 {
    grid-column-start: span 2; }
  .col--md-3 {
    grid-column-start: span 3; }
  .col--md-4 {
    grid-column-start: span 4; }
  .col--md-5 {
    grid-column-start: span 5; }
  .col--md-6 {
    grid-column-start: span 6; }
  .col--md-7 {
    grid-column-start: span 7; }
  .col--md-8 {
    grid-column-start: span 8; }
  .col--md-9 {
    grid-column-start: span 9; }
  .col--md-10 {
    grid-column-start: span 10; }
  .col--md-11 {
    grid-column-start: span 11; }
  .col--md-12 {
    grid-column-start: span 12; } }

@media (min-width: 76rem) {
  .col--lg-1 {
    grid-column-start: span 1; }
  .col--lg-2 {
    grid-column-start: span 2; }
  .col--lg-3 {
    grid-column-start: span 3; }
  .col--lg-4 {
    grid-column-start: span 4; }
  .col--lg-5 {
    grid-column-start: span 5; }
  .col--lg-6 {
    grid-column-start: span 6; }
  .col--lg-7 {
    grid-column-start: span 7; }
  .col--lg-8 {
    grid-column-start: span 8; }
  .col--lg-9 {
    grid-column-start: span 9; }
  .col--lg-10 {
    grid-column-start: span 10; }
  .col--lg-11 {
    grid-column-start: span 11; }
  .col--lg-12 {
    grid-column-start: span 12; } }

header {
  position: sticky;
  top: 0;
  z-index: 400;
  height: 4rem;
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.26); }

.brand {
  display: flex;
  margin-right: auto;
  height: 4rem;
  align-items: center; }
  .brand__logo {
    display: inline-block;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #fafbff; }

.navbar {
  display: flex;
  margin-left: auto;
  list-style: none;
  line-height: 4rem; }
  .navbar__list {
    display: flex;
    list-style: none; }
  .navbar__item {
    display: inline-block;
    margin: 0 .5rem; }
  .navbar__link {
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    color: #444753;
    font-weight: 500;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); }
    .navbar__link:hover {
      color: #3060FF; }
    .navbar__link--active:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: .25rem;
      background-color: #3060FF;
      content: ''; }
