// COLORS
$color-primary: #3060FF;
$color-primary-tint: #8BACFF;
$color-primary-tint-light: #D3DFFF;
$color-secondary: #FFCB32;
$color-secondary-tint: #FFDE8B;
$color-secondary-tint-light: #FFF3D3;
$color-body: #566182;
$color-text-dark: #0e1d4d;
$color-background: #fafbff;
$color-white: #FFFFFF;

//#444753
// FONT
$font-base: 'Rubik', sans-serif;

// GRID
$total-columns: 12;

$breakpoints: (
  xs: 0, 
  sm: 48rem,
  md: 64rem,
  lg: 76rem,
  //xl: 90rem
) !default;

// ANIMATIONS
$animation-linear: linear;
$animation-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);

// SHADOWS
$shadow-header: 0 0 0.75rem rgba(0,0,0,0.2);
$shadow-card:  rgba(0, 0, 0, 0.2) 0px 1px 2px 0px, rgba(0, 0, 0, 0.02) 0px 0px 0px 2px;
$shadow-card-hover:  rgba(0, 0, 0, 0.4) 0px 2px 4px 0px, rgba(0, 0, 0, 0.02) 0px 0px 0px 2px
