.button {
  padding: 0 1rem;
  min-width: 4rem;
  height: 2.25rem;
  border-radius: .25rem;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1.25rem;
  line-height: 2.25rem;
  transition: all 250ms $animation-easing-standard;

  &--tint{
    color: $color-text-dark;
    background-color: $color-primary-tint-light;
    &:hover {
      background-color: $color-primary-tint;
    }
  }

  &--underline {
    padding: 0 .25rem;
    border-bottom: .25rem solid $color-primary-tint;
    border-radius: 0;
    background-color: transparent;
    color: $color-primary;
    &:hover {
      border-bottom-color: $color-primary;
    }
  }
}
