h1 {
    font-size: 3.75rem;
    color: $color-text-dark;
}

.text{
    &--md{
        font-size: 1.25rem;
    }
    &--center{
        text-align: center;
    }
}


a {
    color: $color-primary;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
}

.link {
    transition: box-shadow 200ms $animation-easing-standard;
    @include hover-focus() {
        box-shadow: 0 2px 0 $color-primary;
    }
}